<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="hero" id="hero">
    <h4>Hero statistics</h4>

    <dl>
        <span th:if="${hero.name}">
            <dt>Name</dt>
            <dd th:text="${hero.name}"></dd>
        </span>
        <dt>Strength</dt>
        <dd th:text="${hero.strength}"></dd>
        <dt>Dexterity</dt>
        <dd th:text="${hero.dexterity}"></dd>
        <dt>Stamina</dt>
        <dd th:text="${hero.stamina}"></dd>
    </dl>

</div>
</body>
</html>