<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="hero" id="hero">

    <fieldset id="hero-stats" th:with="hero=${session.hero}">
        <legend th:unless="${hero.name}">Hero statistics</legend>
        <legend th:if="${hero.name}" th:text="${hero.name}"></legend>

        <ul class="list-group">
            <li class="list-group-item"><span class="key">Strength</span>: <span class="value" th:text="${hero.strength}"></span></li>
            <li class="list-group-item"><span class="key">Dexterity</span>: <span class="value" th:text="${hero.dexterity}"></span></li>
            <li class="list-group-item"><span class="key">Stamina</span>: <span class="value" th:text="${hero.currentStamina} + '/' + ${hero.stamina}"></span></li>
            <li class="list-group-item"><span class="key">Weapon</span>: <span class="value" th:if="${hero.weapon}" th:text="${hero.weapon.displayName}"></span></li>
            <li class="list-group-item"><span class="key">Armor</span>: <span class="value" th:if="${hero.armor}" th:text="${hero.armor.displayName}"></span></li>
        </ul>
    </fieldset>

</div>
</body>
</html>