<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Treasures!</title>
</head>
<body>
<div th:fragment="treasure" id="treasure" th:with="treasure=${session.treasure}">
    <span th:if="${treasure}">
    <h3>You found a <span th:text="${treasure.displayName}"></span></h3>

    <div id="treasure-actions">
        <a class="btn btn-success" href="/dungeon/collect">Take it!</a>
        <a class="btn btn-secondary" href="/dungeon/clear">Trash it</a>
        <a class="btn btn-secondary" href="/dungeon">Leave it</a>
    </div>
    </span>
</div>
</body>
</html>