<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${monster.name} + ' attack!'"></title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">

    <h3>Combat between you and <span th:text="${monster.name}"></span></h3>

    <span th:if="${round} > 0">
            <div id="combat-round">
                <h5>Round <span th:text="${round}"></span>:</h5>
                <ul>
                    <li th:each="event : ${events}" th:text="${event}"></li>
                </ul>
            </div>
        </span>

    <div id="combat-stats" th:with="hero=${session.hero}">
        <div>
            <span th:text="'Your health: ' + ${hero.health.displayName}"></span>
            <div id="progress-hero" th:replace="fragments/progress :: progress(current=${hero.health.value}, max=${hero.health.maxValue})"></div>
        </div>
        <div>
            <span th:text="${monster.name} + '\'s health: ' + ${monster.health.displayName}"></span>
            <div id="progress-monster" th:replace="fragments/progress :: progress(current=${monster.health.value}, max=${monster.health.maxValue})"></div>
        </div>
    </div>

    <div id="combat-actions" th:if="${result.name() == 'ONGOING'}">
        <a class="btn btn-success" th:href="@{/combat/{round}(round=${round} + 1)}">Attack</a>
        <a class="btn btn-warning" href="/combat/flee">Flee</a>
    </div>
    <div id="combat-victory" th:if="${result.name() == 'VICTORY'}">
        <p>The <span th:text="${monster.name}"></span> is dead!</p>
        <p>You earned <span th:text="${monster.value}"></span> experience points!</p>
        <a class="btn btn-primary btn-lg btn-block" href="/combat/exit">Leave battle field</a>
    </div>
    <div id="combat-defeat" th:if="${result.name() == 'DEFEAT'}">
        <p><strong>You are defeated!</strong></p>
        <a class="btn btn-primary btn-lg btn-block" href="/">Start new game</a>
    </div>

</div>
</body>
</html>