<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
<h3>Create Hero</h3>

<dl>
    <dt>Strength</dt>
    <dd th:text="${hero.strength}"></dd>
    <dt>Dexterity</dt>
    <dd th:text="${hero.dexterity}"></dd>
    <dt>Stamina</dt>
    <dd th:text="${hero.stamina}"></dd>
</dl>

<a href="/hero/create">Roll again</a>
<a href="/hero/create/2">Continue</a>
</div>
</body>
</html>