<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Give your hero a name!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <h3>Complete your hero</h3>

    <div th:replace="fragments/hero :: hero"></div>

    <div class="form-group">
        <form action="#" th:action="@{/hero/create/3}" th:object="${hero}" method="post">
            <label class="col-form-label col-form-label-lg" for="hero-name">Hero name: </label>
            <input  th:field="*{name}" class="form-control form-control-lg" type="text" placeholder="Alrik maybe?" id="hero-name"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Save"/>
        </form>
    </div>
</div>
</body>
</html>