<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3>Complete your hero</h3>

<dl>
    <dt>Name</dt>
    <dd th:text="${hero.name}"></dd>
    <dt>Strength</dt>
    <dd th:text="${hero.strength}"></dd>
    <dt>Dexterity</dt>
    <dd th:text="${hero.dexterity}"></dd>
    <dt>Stamina</dt>
    <dd th:text="${hero.stamina}"></dd>
</dl>

<a href="/dungeon/enter">Start dungeon crawl</a>

</body>
</html>